.fb-button {
  display: inline-block;
  margin: 10px 0 10 0;
  color: white;
  background-color: #1967d2;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
}

.authContent {
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: auto;
  padding: 10px
}